.popup__container {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 40%;
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
}