.profile__subtitle {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-column: 2;
    grid-row: 2;
    margin: 0;
}