.profile__title {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}