.card-delete-button {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 16px;
  top: 18px;
  z-index: 1;
  background-image: url(../../images/delete_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.card-delete-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
