.popup-zoom__container {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 830px;
  max-height: 75vh;
  flex-wrap: wrap;
}

@media screen and (min-width: 1111px) {
  .popup-zoom__container {
    max-width: 3000px;
  }
}

